body
{
    background-image: url(../img/backgroundimg.png);
    background-repeat:space;
}
.classmenunavheader
{
    display: inline;
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #323940;
    border-radius: 13px;
    transition: background-color .3s;
}
.classmenunavheader a
{
    color: #F2274C;
    font-size: 14px;
    text-decoration-line: none;
}
.classmenunavheader:hover
{
    background-color: #000000;
    transition: background-color .3s;
}
body
{
    background-color: #A6A6A6;
}
