/**{
    border-color: red;
    border-style: solid;
}*/

* {
    font-family: Arial;
}

a {
    text-decoration-line: none;
}

nav ul {
    text-align: center;
}

.classmenunavheader {
    display: inline;
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #323940;
    border-radius: 13px;
    transition: background-color .3s;
}

.classmenunavheader a {
    color: #F2274C;
    font-size: 14px;
}

.classmenunavheader:hover {
    background-color: #000000;
    transition: background-color .3s;
}

body {
    background-color: #A6A6A6;
}

#idcopyrightfooter {
    float: left;
    width: 49%;
}

#iddivxarxesocialfooter {
    float: right;
    width: 49%;
}

footer div {
    text-align: center;
}

html {
    position: absolute;
    margin-bottom: 30px;
}

main {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a6a6a681;
}

#idimgheader {
    width: 100%;
}
#iddivseparaciofooter
{
    margin-top: 7vh;
}